# {{ data.doc.module }}

 {% if data.doc.description is not string %} {{ '\n'.join(data.doc.description) }} {% else %}{{ data.doc.description }}{% endif %}

## Module arguments

| option name  | type  | description  |
|---|---|---|
{% for optionname in data.doc.options | sort %}| {{ optionname }} | {{
data.doc.options[optionname].type }} | {% if data.doc.options[optionname].description is not string %}{{
' '.join(data.doc.options[optionname].description).replace('\n',' ') }} |
{% else %}{{
data.doc.options[optionname].description.replace('\n',' ') }} |
{% endif %}
{% endfor %}


## Examples
```yaml
{{ data.examples }}
```