---

# The namespace of the collection.
namespace: ansible714

# The name of the collection.
name: ovh

# The version of the collection. Must be compatible with semantic versioning
version: {{ collection_version }}

# The path to the Markdown (.md) readme file.
readme: README.md

# A list of the collection's content authors.
authors:
  - Christophe Guychard <christophe.guychard@tekfor.cloud>
  - Mathieu Piriou <mathieu.piriou@tekfor.cloud>

### OPTIONAL but strongly recommended

# A short summary description of the collection
description: A Collection to manage your products and services hosted at OVH-Cloud.

# License(s)
license:
  - LGPL-3.0-or-later

# A list of tags you want to associate with the collection for indexing/searching.
tags:
  - ovhcloud
  - ovh
  - cloud

# Collections that this collection requires to be installed for it to be usable.
dependencies:
  "openstack.cloud": ">=1.5.0"

# The URL of the originating SCM repository
repository: https://gitlab.com/article714/ansible714-ovh-collection

# The URL to any online docs
documentation: https://ansible714.article714.org/collections/ansible714.ovh/

# The URL to the homepage of the collection/project
homepage: https://ansible714.article714.org/

# The URL to the collection issue tracker
issues: https://gitlab.com/article714/ansible714-ovh-collection/-/issues

# files to ignore when building tarball for collection
build_ignore:
  - ansible_collections
  - '*.j2'
  - .ansible-lint
  - .flake8
  - .gitignore
  - .gitlab-ci.yml
  - .prettierrc
  - .yamllint
  - .vscode
  - pyproject.toml
  - 'requirements*.*'
  - setup.cfg
