{% set meta = role.meta | default({}) %}
{% if False | deep_get(meta, "name.value") %}
# {{ meta.name.value | save_join("") }}
{% endif %}

{% if False | deep_get(meta, "description.value") %}
{{ meta.description.value | save_join("\n") }}
{% endif %}

{#      Meta      #}
{% include '_meta.j2' %}
{% if False | deep_get(meta, "with_content.value") %}
{% include meta.with_content.value | save_join("") ignore missing %}
{%- endif %}
{#      Vars      #}
{%- include '_vars.j2' %}