# {{ ansible_managed }}

ip_addresses:
{% for data in instance_info['ipAddresses'] | default([]) %}
    - ip: {{ data['ip'] }}
      type: {{ data['type'] }}
      version: {{ data['version'] }}
      network_id: {{ data['networkId'] }}
      gateway_ip: {{ data['gatewayIp'] }}
{% endfor %}

net_interfaces:
{% for netif in pc_netif_info['interfaces'] | default([]) %}
    - id: {{ netif['id'] }}
      mac_address: {{ netif['macAddress'] }}
      state: {{ netif['state'] }}
      network_id: {{ netif['networkId'] }}
      type: {{ netif['type'] }}
      fixed_ips:
{% for fixip in netif['fixedIps'] %}
        - ip: {{ fixip['ip'] }}
          subnet_id: {{ fixip['subnetId'] }}
{% endfor %}
{% endfor %}